<form class="ui form">
  <div class="fields">
    <div class="field">
      <div class="ui labeled input">
        <div class="ui label">Procurar Usuário:</div>
        <input type="text" [formControl]="searchBar" placeholder="CPF ou Nome">
      </div>
    </div>
    <div class="field">
      <label for="">Lista:</label>
      <div class="ui radio checkbox">
        <input type="radio" name="userList" id="userList" value="userList" [formControl]="listType">
        <label for="userList">Funcionário</label>
      </div>
      <div class="ui radio checkbox ">
        <input type="radio" name="userList" id="waitingList" value="waitingList" [formControl]="listType">
        <label for="waitingList"> Dependente</label>
      </div>
    </div>
  </div>
</form>
<div class="ui inverted divider"></div>
<div class="title">
  <h2>Lista de espera: {{listType.value === 'userList'? 'Funcionario(a)':'Dependente'}}</h2>  
</div>
<table class="ui inverted blue table">
  <thead>
    <tr>
      <th>Nome</th>
      <th>CPF</th>
      @if(listType.value == 'userList'){
        <th>Matricula</th>
      }@else {
        <th>NOME DO FUNCIONÁRIO(A)</th>
      }
      
      <th></th>
    </tr>
  </thead>
  <tbody>
    @for (user of list$ | async ; track user.id ) {
    <tr>
      <td>{{user.name}}</td>
      <td>{{user.cpf}}</td>
      @if(this.listType.value == 'userList'){
        <td>{{user.matricula}}</td>
      }@else {
        <td>{{user.user.name}}</td>
      }
      
      <td class="right aligned">
        <div class="action">
          @if(listType.value === 'userList'){
            <button class="ui right labeled icon button "  (click)="openDialog(user)">
              <i class="wpforms icon"></i>
              Perfil
            </button>
          }@else {
            <button class="ui right labeled icon button " (click)="openDialogDependent(user)">
              <i class="wpforms icon"></i>
              Perfil
            </button>
          }          
                    
        </div>
      </td>

    </tr>
    }@empty {
      <tr>
        <td>Nenhum cadastro pendente foi encontrado.</td>
      </tr>
    }

  </tbody>
</table>

