.title{
    width: 100%;
    display: flex;
    justify-content: flex-start;
    h2{ 
        position: relative;
        display: flex;
        align-items: center;
        color: white;
        background: #1C71B1;
        margin: 0;
        height: 80px;
        padding: 10px;
        border-radius: 10px 10px 0px 0px;
        bottom: -10px;
        font-weight: 400;
        font-size: 18px;
    }
}


.table {
    margin: 0 !important;
}
.form{
    margin: 20px;
    .ui .label{
        background: #0045B7;
        color: white;
    }
    .input{
        width: 350px !important; 
    }
    
}
.ui.radio.checkbox{
    margin-right: 10px;
}
.field{
    display: flex;
    align-items: center;
}

@media (max-width: 768px) {
    .title{
        justify-content: center !important;
        align-items: center;
        background: #2185D0;
        border-radius: 10px 10px 0px 0px;
        position: relative;
        bottom: -10px;
        h2{
            font-size: 16px;
            font-weight: 600;
            background: none;
        }
    }
}