:host{
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
   .toolbar{
    justify-content: flex-end;
    background: linear-gradient(to left, #54bdddd7, #9fc7e9d7, #c7d4f0);
   }
    mat-drawer-container{
        width: 100%;
        height: 100%;
        mat-drawer {
            position: fixed;
            padding: 10px;
            background: linear-gradient(to bottom, #54bdddd7, #9fc7e9d7, #c7d4f0);
            .header-side{
                padding-top: 20px;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                img{
                    width: 100%;
                    max-width: 300px;
                }
                h2{
                    margin: 5px 0px;
                    color: #0045B7;
                    font-size: 20px;
                }
            }
            .menu-items{
                margin-top: 10px;
                display: flex;
                flex-direction: column;
                align-items: center;
                height: max-content;
                .menu{
                    margin-bottom: 20px;
                    display: flex;
                    justify-content: center;
                    width: 100%;
                    button{
                        width: 100%;
                    }
                }
            }
            .logoff{
                bottom: 0;
            }
        }
    }
    mat-drawer-content{
        padding: 10px;
        background: white;
    }
}

@media only screen and (max-width: 600px) {
    .mat-drawer{
        width: 70%;
        .header-side{
            h2{
                font-size: 16px;
            }
        }
    }
}
