@if (isMobile()) {
<mat-toolbar class="toolbar">
  <button mat-icon-button (click)="sidenav.toggle()">
    <mat-icon>menu</mat-icon>
  </button>
</mat-toolbar>
}

<mat-drawer-container>
  <mat-drawer #sidenav [mode]="isMobile() ? 'over' : 'side'" [opened]="true">
    <div class="header-side">
      <img src="img/white-logo.png" alt="" />
      <h2>PAINEL ADMINISTRATIVO</h2>
    </div>
    <div class="ui inverted divider"></div>
    <div class="menu-items">
      <div class="menu">
        <button class="ui button primary" type="button" [routerLink]="['/']" routerLinkActive="router-link-active" >
          LISTA DE ESPERA
        </button>
      </div>
      <div class="menu">
        <button
          class="ui button primary"
          type="button"
          [routerLink]="['/usuarios']"
          routerLinkActive="router-link-active"
        >
          LISTA DE BENEFICIÁRIOS
        </button>
      </div>

      <div class="menu">
        <button
          class="ui button primary"
          type="button"
          [routerLink]="['/dependentes']"
          routerLinkActive="router-link-active"
        >
          LISTA DE DEPENDENTES
        </button>
      </div>

      <div class="menu">
        <button
          class="ui button primary"
          type="button"
          [routerLink]="['/cadastro']"
        >
          CADASTRAR FUNCIONÁRIO
        </button>
      </div>
    </div>
    <div class="ui inverted divider"></div>
    <div class="logoff">
      <button class="ui button primary" type="button" (click)="logOff()" >Sair</button>
    </div>
  </mat-drawer>
  <mat-drawer-content>
    <router-outlet></router-outlet>
  </mat-drawer-content>
</mat-drawer-container>
