/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Raleway:ital,wght@0,900;1,900&display=swap');

html, body { height: 100%; overflow: auto }
body { margin: 0;  font-family: "Open Sans", sans-serif; overflow-y: visible; }

@media (max-width: 768px) {
    body {
        padding: 10px; // Adiciona padding ao corpo em telas menores
    }
}

.responsive-dialog {
    border-radius: 10px; // Bordas arredondadas
    width: 100%;
    margin: 0 auto;
    overflow: auto;

}

.card-backdrop{
    width: 100%;
    height: 100%;
    background: rgb(0, 0, 0) !important;
    display: flex;
}


