<section>
    
    <div class="ui horizontal divider">
        <div class="header">
            <i class="id card outline icon"></i>
            
            <h2>Dados do Usuário</h2>
        </div>
    </div>
    <div class="ui inverted divider"></div>
    <form class="ui form" [formGroup]="updateForm" >
        <div class="container-photo">
            <label >Foto de Perfil</label>
            <div class="photo">
                <input #photo type="file" >
                <img [src]="profileImg ?  profileImg:'img/user-profile.png' " alt="">
                <div class="select-picture" (click)="photo.click()">
                    <i class="camera icon"></i>
                    <p >Selecione uma Foto</p>
                </div>
            </div>
            
        </div>
        <div class="two fields">
            <div class="field">
                <div class="ui labeled input">
                    <div class="ui label">Nome:</div>
                    <input type="text" formControlName="name" placeholder="Nome" >
                </div>
               
               
            </div>
           
            
            <div class="field">
                <div class="ui labeled input">
                    <div class="ui label">Email:</div>
                    <input #email type="email" formControlName="email" placeholder="Email">
                </div>
               
            </div>
           
           
        </div>
        <div class="ui inverted divider"></div>
        <div class="three fields">
            <div class="field">
                <div class="ui labeled input">
                    <div class="ui label">CPF:</div>
                    <input type="text" formControlName="cpf" placeholder="CPF" CpfCnpjMask maxlength="14" >
                </div>
            </div>
            <div class="field">
                <div class="ui labeled input">
                    <div class="ui label">RG:</div>
                    <input type="text" formControlName="rg" placeholder="RG" maxlength="10">
                </div>
            </div>
            <div class="eight wide field">
                <div class="ui labeled input">
                    <div class="ui label">Data de Nascimento:</div>
                    <input type="date" placeholder="DD/MM/YYYY" formControlName="birthDay">
                </div>
            </div>
        </div>
    
        <div class="three fields">
            <div class="field">
                <div class="ui labeled input">
                    <div class="ui label">Vínculo:</div>
                    <input type="text" formControlName="vinculo" placeholder="Vínculo">
                </div>
            </div>
            <div class="field">
                <div class="ui labeled input">
                    <div class="ui label">Lotação:</div>
                    <input type="text" formControlName="lotacao" placeholder="Lotação">
                </div>
            </div>
            <div class="field">
                <div class="ui labeled input">
                    <div class="ui label">Matrícula:</div>
                    <input type="text" formControlName="matricula" placeholder="Matrícula">
                </div>
            </div>  
        </div>
    
        <div class="two fields">
            <div class="field">
                <div class="ui labeled input">
                    <div class="ui label">Endereço:</div>
                    <input type="text" formControlName="endereco" placeholder="Endereço">
                </div>
            </div>
            <div class="field">
                <div class="ui labeled input">
                    <div class="ui label">Telefone:</div>
                    <input type="text" formControlName="phone" placeholder="(DDD) 00000-0000" PhoneMask >
                </div>
            </div>
           
        </div>
       
        
   
     
    <div class="container-button" #templete>
        <button class="ui button" type="submit" >Sair</button>
        
    </div>
       
        
    </form>
</section>